body {
    background-color: #121212; /* il colore di spotify */
}

.navbar{
    background-color: black;
}

.nav-item li {
    background-color: black; /* parte che contiene il motore di ricerca e i loghi */
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar svg {
    color: white;  /* colore del svg spotify */
}

.collapse{        /* per centare la home e la barra di ricerca nel mezzo  */
    display: flex;
    justify-content: center;
}


#icona-home svg {

    display: flex;
    justify-content: center;  /* modifica l'icona della casetta */
    align-items: center;
    color: gainsboro;
height: 20px;
}

#icona-home {
    border-radius: 50%;
    background-color: #121212;  /*   modifica il bottone della casetta  */
    border: 0px;
    height: 25px;
    width: 25px;
    display: flex;  /* per centrare la casetta intorno al cerchio  */
    justify-content: center;
}

.d-flex input {
    background-color: #121212;    
}



.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color:gainsboro;
    flex-direction: row;
  
    
}


.end-navbar a{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;

}




.nav-item  button{
    margin-left: 350px;
   
}

hr {
    border: 0;             
    border-top: 1px solid #1F1F1F; 
    opacity: 1; 
}
/* footer */
footer a {
    text-decoration: none;
    color: #AEAEAE;
}

footer span {
    color: #AEAEAE;
}
footer h4 {
    color:#FFFFFF;
}
.containerSocial{
margin-bottom: 40px;
}

.containerSocial div{
    padding-right: 16px;
    display: inline;
}
.containerSocial a{
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: #313131;
    border-radius: 50%;
    display: inline-flex;      /* Allinea e centra in modo flessibile */
    align-items: center;       /* Centra in verticale */
    justify-content: center;   /* Centra in orizzontale */
    box-sizing: border-box;
}

.containerSocial a:hover{
    background: #D2D2D2;
}



footer svg {
    display: block;
    height: 100%;
    width: 100%;
    fill: white;
}

footer a span {
    display: inline-block;
    width: 16px;
    height: 16px;
}
